.gradio/
.venv/
__pycache__/
/data/EmotionRecognitionDataset/*
!/data/EmotionRecognitionDataset/README.md
/data/GoEmotions/*
!/data/GoEmotions/README.md
.idea/
/models/*/artifacts/
/models/*/runs/
*.joblib
